
body                    { font-family: 'Droid Sans'; font-size: 14px; color: #333; background: #F8F8F8; }
section                 {}

section.card            { /*border: 1px dashed rgba(0,0,0,0.15);*/ padding: 10px 15px; margin: 0 auto; }

/* clears <input> placeholder text on focus in Chrome and FF... */
input:focus::-webkit-input-placeholder  { color: transparent; }
input:focus::-webkit-input-placeholder  { color: transparent!important; }
input:focus::-moz-placeholder           { color: transparent!important; }
input:focus:-moz-placeholder            { color: transparent!important; }

#options-card           { display: block; width: 25%; margin-top: 7%; }
#options-card ul        { list-style: none; }
#options-card li        { line-height: 35px; margin-top: 50px; }
#options-card label     {}
#options-card input     {}

#dimensions,
#dimensions-mirror,
#mine-count             { width: 50px; padding: 3px 5px; }

#dimensions             { margin-right: 10px; }
#dimensions-mirror      { margin-left: 10px; border: none; background: none; }

#dimensions,
#mine-count             { border: 2px solid #DDD; color: #333; text-align: center; }

#mine-count             { margin-right: 10px; }

.advice                 { color: #777; }

#submit                 { padding: 7px 20px; font-size: 14px; font-weight: bold; color: #333; word-spacing: 4px; }

#board-card             { display: none; margin: 25px auto; text-align: center; }

#flash                  { display: none; margin: 0 auto; text-align: center; position: fixed; z-index: 1000; background: #800; padding: 10px 25px;
                          box-shadow: 1px 3px 10px #555; font-size: 36px; font-weight: bold; letter-spacing: 3px; color: #F0F0F0; top: 0; left: 0; width: 100%; }

#board                  { display: inline-block; }

.square                 { background: #F0F0F0; border: 3px solid #555; padding: 7px; height: 50px; width: 50px; }
.square .danger         { display: block; color: #777; font-weight: bold; font-size: 20px; margin-top: 50%; }


.closed                 { background: #555; }

.closed .danger,
.mined .danger          { display: none; }

.open                   {}

.flagged                { background: #FFE68C; }
.flagged .danger        { display: block; color: #333; font-size: 40px; margin-top: 0px; text-shadow: 1px 1px 2px rgba(0,0,0,0.45); font-family: 'RaphaelIcons'; }

.mined.closed           { background: #555; }
.mined.open             { background: #800; }
.mined.open .danger     { display: block; color: #FFF; font-size: 48px; text-shadow: 2px 1px 2px #333; font-family: 'RaphaelIcons'; font-weight: normal; margin-top: 0; }

.game-win               { box-shadow: 1px 2px 45px rgba(0, 150, 0, 0.75); border: 3px solid rgb(0, 150, 0); }
.game-over              { box-shadow: 1px 2px 45px #DC0000; border: 3px solid #800; }

/* for Raphael icons */
@font-face              { font-family: 'RaphaelIcons'; src: url('../fonts/raphaelicons-webfont.eot');
                          src: local('☺'),
                               url('../fonts/raphaelicons-webfont.woff') format('woff'),
                               url('../fonts/raphaelicons-webfont.ttf') format('truetype'),
                               url('../fonts/raphaelicons-webfont.svg') format('svg');
                          font-weight: normal; font-style: normal; }