
body                    { font-family: 'Droid Sans'; font-size: 14px; color: #333; }
section                 {}

section.card            { /*border: 1px dashed rgba(0,0,0,0.15);*/ padding: 10px 15px; margin: 0 auto; }

#options-card           { display: block; width: 25%; margin-top: 7%; }
#options-card ul        { list-style: none; }
#options-card li        { line-height: 35px; margin-top: 50px; }
#options-card label     {}
#options-card input     {}

#dimensions,
#dimensions-mirror,
#mine-count             { width: 50px; padding: 3px 5px; }

#dimensions             { margin-right: 10px; }
#dimensions-mirror      { margin-left: 10px; border: none; background: none; }

#dimensions,
#mine-count             { border: 2px solid #DDD; color: #333; text-align: center; }

#mine-count             { margin-right: 10px; }

.advice                 { color: #777; }

#submit                 { padding: 7px 20px; font-size: 14px; font-weight: bold; color: #333; word-spacing: 4px; }

#board-card             { display: none; margin: 25px auto; text-align: center; }

#board                  { display: inline-block; }

.square                 { border: 1px solid #333; padding: 5px; height: 75px; width: 75px; }


.closed                 { background: #ECEAEE; }
.closed .danger,
.mined .danger          { display: none; }

.open                   { background: #FFF; }
.open .danger           { display: block; color: #555; font-weight: bold; font-size: 20px; margin-top: 50%; }

.flagged                { background: #FCE9A5; }
.flagged .danger        { display: block; color: #555; font-size: 28px; margin-top: 0px; text-shadow: 1px 1px 2px rgba(0,0,0,0.45); }

.mined                  { background: #ECEAEE; }
.mined.revealed         { background: #DC0000; }
.mined.revealed .danger { display: block; color: #FFF; font-size: 36px; text-shadow: 2px 1px 2px #333; }

.game-win               { border: 8px solid green; }
.game-over              {}